    .filmpro-widget {
        margin: 0;
        padding: 0;
        background: #fff;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    .filmpro-widget a {
        font-weight: bold;
        color: #277490;
    }

    .filmpro-widget a:hover {
        text-decoration: underline;
    }

    .filmpro-theatres-now {
        width: 240px;
    }

    .filmpro-theatres-now__header {
        background: #3b3b3b url(../../../../../filmpro.ru/img3/gray-noise.png);
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        line-height: 16px;
        font-size: 11px;
        color: #ffffff;
        position: relative;
        padding: 12px 12px 12px 40px;
        margin: 0;
        *padding-left: 12px;
    }

    .filmpro-theatres-now__header a,
    .filmpro-theatres-now__header a:hover {
        text-decoration: none;
        color: #ffffff;
    }

    .filmpro-theatres-now__header:before {
        background: url(../../../../../filmpro.ru/img3/sidebar-block-headers-sprite.png) no-repeat 0 -438px;
        position: absolute;
        display: block;
        content: "";
        left: 12px;
        top: 50%;
        width: 24px;
        height: 28px;
        margin-top: -14px;
    }

    .filmpro-theatres-now__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .filmpro-theatres-now__list li {
        padding: 0;
        margin: 0;
        border-top: 1px dotted #757575;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        overflow: hidden;
    }

    .filmpro-theatres-now__list li:first-child {
        border: none;
    }

    .filmpro-theatres-now__list li a {
        display: block;
        margin: 0 5px;
        font-weight: bold;
        color: #277490;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
        line-height: 30px;
    }

    .filmpro-theatres-now__list li a:hover {
        text-decoration: underline;
    }

    .filmpro-movies-horizontal-list {
        margin: 0;
        padding: 0;
        text-align: justify;
    }

    .filmpro-movies-horizontal-list a {
        display: inline-block;
        text-align: left;
    }