.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    z-index: 11111111;
    display: none;
}

.msg {
    position: absolute;
    width: 600px;
    height: auto;
    padding-bottom: 30px;
    text-align: center;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: rgb(20, 143, 185) none repeat scroll 0% 0%;
    border: 1px solid rgb(238, 238, 238);
}

.msg>h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 45px;
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
}

.submit {
    margin-top: 10px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    max-width: 400px;
    width: 90%;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: firebrick;
    color: rgb(255, 255, 255);
    font-size: 26px;
    border-radius: 3px;
}

.over-window {
    font-family: 'Roboto', serif;
    /*height:629px;*/
    width: 650px;
    z-index: 9999;
    padding: 10px 0 0;
    cursor: default;
    background: #FFF none repeat scroll 0% 0%;
    position: fixed;
    top: 5%;
    left: 55%;
    margin: 0 0 0 -391px;
    border: 3px solid #3e3e3e;
}

/*.ex-logo{width:426px;height:55px;margin:40px auto 0;background:url(exitsprite2.png) 0 0 no-repeat;} */

.ex-logo {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 38px;
    /*width:426px;
	height:55px;*/
    margin: 15px auto 10px;
    padding: 0px 15px;
    text-align: center;
    font-weight: bold !important;
}

.footer-button {
    color: #AE1210;
    font-family: "Roboto Condensed", Georgia, "Century Schoolbook L", serif;
    font-size: 46px;
    line-height: 56px;
    /*width:426px;
	height:55px;*/
    margin: 5px auto 0px;
    padding: 0px 15px;
    text-align: center;
}

/*.footer-button a{
	background: #7D3B7C no-repeat scroll 445px center;
	color: #FFF !important;
	padding: 9px 22px;
	text-indent: 27px;
	border-radius: 20px;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 32px;
	margin-bottom: 10px;
	text-decoration: none;
	font-weight: normal;
	line-height: 2.3em;
}*/

.footer-button a {
    font-family: Arial;
    cursor: pointer;
    /*padding: 0 42px;*/
    border: none;
    display: block;
    margin: 5px auto 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    height: 51px;
    line-height: 51px;
    background: #e74c3c;
    font-weight: normal;
    border-bottom: 2px solid #c0392b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 9px;
    width: 380px;
}

.footer-button a:hover {
    background: #e75c4e;
}

.footer-button a:hover {
    color: #FFF;
}

.ppubtxt {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 10px;
    width: 650px;
    padding: 0;
    color: #111;
    margin-top: 0;
}

.exit-slogan {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 32px;
    /*width:426px;
	height:55px;*/
    margin: 10px auto 5px;
    padding: 0px 15px;
    text-align: center;
    font-weight: normal;
    width: 550px;
}

.exitprod-img {
    width: 230px;
    /*height:529px;*/
    margin: 15px 15px 0 15px;
    float: left;
    text-align: center;
}

.exit-form {
    width: 370px;
    float: left;
}

.exit-form-text {
    margin: 10px 0 20px;
}

.exit-form-text .subhead {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    /*color:#333;*/
    color: #782B2B;
    /*margin-top:-35px;*/
}

.exit-form-text .subhead ul {
    list-style: outside none none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    padding-left: 10px;
}

.exit-form-text .subhead ul li {
    background: transparent url("bul.png") no-repeat scroll 0px 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: left;
}

.exit-row {
    width: 318px;
    margin: 0 15px 24px 0;
    position: relative;
}

.exit-row input {
    margin: 0;
    padding: 12px 6px 12px 40px;
    height: 47px;
    width: 270px;
    border: none;
    outline: none;
}

.exicon {
    height: 47px;
    width: 38px;
    top: 0;
    left: 0;
    position: absolute;
    background: url(exitsprite.png) no-repeat;
}

.exicon.exicon-name {
    background-position: -1267px 12px;
}

.exicon.exicon-phone {
    background-position: -1267px -59px;
}

.overlay {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(overlay-bg.png);
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.close-ex {
    height: 52px;
    width: 52px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: -26px;
    background: url(close.png) no-repeat;
}

.send-exitform {
    display: block;
    cursor: pointer;
    height: 54px;
    width: 315px;
    margin: 27px 0 0;
    border: none;
    outline: none;
    background: url(btn1.png) no-repeat;
    font-size: 28px;
    color: #FFF;
    margin-left: -23px;
}

.send-exitform:hover {
    color: #000;
    margin-left: -23px;
}

.exattent {
    font-size: 14px;
    color: #fff;
    width: 340px;
    margin: 14px 0 0 -6px;
}

.exit-row input.error {
    border: none;
}

.clr {
    clear: both;
}